body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Dongle', sans-serif;
  font-family: 'Nanum Pen Script', 'cursive';
  font-weight: 100 900;
  src: url('./assets/font/Dongle-Regular.ttf') 
  format('woff2-variations','ttf-variations');
}

@font-face {
  font-family: 'Gowun Batang', serif;
  font-weight: 100 900;
  src: url('./assets/font/GowunBatang-Regular.ttf'),('./assets/font/GowunBatang-Bold.ttf') 
  format('woff2-variations','ttf-variations');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
